[user]
    name = Jean-François Simon
    email = contact@jfsimon.fr

[github]
    user = jfsimon

[color]
    diff = true
    status = auto
    branch = always
    interactive = always
    ui = always
    pager = true

[alias]
    st = status
    co = checkout
    ci = commit
    br = branch
    df = diff
    lg = log --pretty=oneline --abbrev-commit --graph
    amend = commit --amend
    who = shortlog -sne
    unstage = reset HEAD
    undo = git reset --soft HEAD^
    # git-svn
    srb = svn rebase
    sdc = svn dcommit
    sbr = svn branch
    sin = svn info
    sre = svn reset
    sbra = !git  branch -a | grep --invert-match /tags/
    ssrb = "!git stash; git srb; git stash pop"
    ssdc = "!git stash; git sdc; git stash pop"
